@yellow : #ffeb14;
.header{
  @media(min-width: 768px){
    height:19vh;
  }
  background:#1f1e1c;
  img{
    height:130px;
    display:inline;
    @media(min-width: 768px){
      height:100%;

    }
  }
}
.full-height{
  @media(min-width: 768px){
    height:77vh;
    overflow:auto;
  }
}
.info{
  font-size:23px;
  @media(min-width: 768px){
    height:4vh;
  }
  background-color: @yellow;
  p{
    margin:0;
    @media(min-width: 768px){
      height:100%;
    }
    text-align: center;
  }
}
.menu-row{

  margin:0;
  .menu{
    background:#ffeb14;
    padding:0 20px 20px;
    .link{
      text-align: center;
      color:black;
      font-size:2vw;
      @media(max-width:768px){
        font-size:20px;
      }
    }
  }
}

.mix-image {
  width: 100%;
}
a{
  color:unset;
}
.edit-text{
  height:400px;
  width:100%;
  margin-top:15px;
}
.info-text{
  width:100%;
}
.edit-info-text{
  height:32px;
  width:100%;
  text-align:center;
}
.edit-button{
  background:#1f1e1c;
  color:white;
}

.next-event-image{
  margin-bottom:20px;
}
.picture-url{
  height:35px;
  width:100%;
}