@yellow : #ffeb14;
.header{
  background:#1f1e1c;
  img{
    display:inline;
  }
}
.info{
  font-size:23px;
  background-color: @yellow;
  p{
    margin:0;
    text-align: center;
  }
}
.menu-row{

  margin:0;
  .menu{
    background:#ffeb14;
    padding:20px;
    .link{
      text-align: center;
      color:white;
      font-size:25px;
    }
  }
}

.mix-image {
  width: 100%;
}
a{
  color:unset;
}