<html ng-app="soundMixes">
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<body>

<div ng-controller="PostCtrl" ng-init="run()">

    <span class="remover" ng-hide="showDeletePassInfo">
        <button class="media-button edit-button" ng-click="showDeletePassInfo=!showDeletePassInfo">
            <i class="fa fa-pencil"></i>
        </button>
    </span>
    <span class="remover" ng-hide="!showDeletePassInfo">
        <input ng-model="deletePassInfo" type="password" class="password-delete"
               placeholder="Password...">
            <button class="media-button confirm-remove" ng-click="editInfo(deletePassInfo)">
                Confirm
            </button>
        <button class="media-button undo" ng-click="showDeletePassInfo=!showDeletePassInfo"><i
                class="fa fa-undo"></i>
        </button>
    </span>

    <div class="header">
        <img class="" alt="Logo" src="/assets/Logo_grey.png" style="width: 130px; height: 130px;"/>
        <img class="hidden-sm hidden-xs img-responsive" alt="Header" src="/assets/Header_transparent.png"
             style="width: auto; height: 130px;"/>
    </div>

    <div class="info">
        <p ng-hide="showDeletePassInfo" ng-bind="infoHeader">
        </p>
        <textarea class="edit-info-text" ng-model="infoHeader" ng-hide="!showDeletePassInfo"></textarea>

    </div>
    <div class="row menu-row">
        <div class="menu col-sm-2">
            <div class="link">
                <a href="https://www.facebook.com/mlmantenn/" target="_blank">
                    &gt;facebook&lt;</a>
            </div>

            <div class="link">
                <a href="mailto:info@malmoantenn.se" target="_blank">&gt;contact&lt;</a>
            </div>

            <iframe src="https://mixlr.com/users/5672861/embed" width="100%" height="180px" scrolling="no" frameborder="no" marginheight="0" marginwidth="0"></iframe><small><a href="http://mixlr.com/malmoantenn" style="color:#1a1a1a;text-align:left; font-family:Helvetica, sans-serif; font-size:11px;">malmoantenn is on Mixlr</a></small>        </div>
        <div class="col-sm-2">

            <p ng-hide="showDeletePassInfo" ng-bind="infoDescription">

            </p>
            <textarea class="edit-text" ng-model="infoDescription" ng-hide="!showDeletePassInfo"></textarea>

        </div>
        <div class="col-sm-8">
            <div class="navbar" ng-controller="MainCtrl">
                <a ng-click="newPost()" ng-hide="isActive('/newpost')">
                    <button class="nav-button"><i class="fa fa-plus"></i></button>
                </a>
                <a ng-click="run()" href="#/" ng-hide="isActive('/')">
                    <button class="nav-button"><i class="fa fa-align-left"></i></button>
                </a>
            </div>
            <div ui-view></div>

        </div>
    </div>
</div>
</body>

<script type="text/javascript" src="bundle.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.0.52/wavesurfer.min.js"></script>

</html>